[Desktop Entry]
Name=awesome
Comment=Highly configurable framework window manager
TryExec=awesome
Exec=awesome
Type=Application
Icon=/usr/share/pixmaps/awesome.xpm
Keywords=Window manager
